.container{
   width: auto;
   height: auto;
    position: fixed;
    top: 80%;
    right: 10px;
    z-index: 9;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    &::before{
        content: '';
        width: 37px;
        height: 37px;
        border-radius: 50%;
        position: absolute;
        background-color: green;
        z-index: -1;
        box-shadow: 1px 3px 15px -1px rgba(0,0,0,0.76);
    }
   
}